/** {
  margin: 0px;
}
/* Grid todo */
.container {
  overflow: hidden;
  display: grid;
  grid-template-areas:
    "cabecalho cabecalho cabecalho"
    "esquerda centro direita"
    "baixo baixo baixo";
  grid-template-columns: 0.5fr 3fr 0.5fr;
  grid-template-rows: 0.07fr 0.55fr 1fr;
  height: 250vh;
  width: 99vw;
}
/* Parte do cabecalho */
.cabecalho {
  display: flex;
  justify-content: space-around;
  z-index: 4;
  grid-area: cabecalho;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid #000000;
}
/* Parte esquerda */
.esquerda {
  z-index: 3;
  box-shadow: -5px 0px 150px 1px;
  grid-area: esquerda;
}
.dentro-esquerda {
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #14213d;
  transition: 1s ease;
}
.dentro-esquerda:hover {
  transform: scaleX(3);
}
/* Parte direita */
.direita {
  z-index: 2;
  box-shadow: 0px 0px 150px 1px;
  grid-area: direita;
}

.dentro-direita {
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: #14213d;
  transition: ease 1s;
}
.dentro-direita:hover {
  transform: scaleX(3);
}
/* Parte centro */
.centro {
  grid-area: centro;
  background-color: blueviolet;
}
.dentro {
  background-position: left;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #fca311;
  width: 100%;
  height: 100%;
  transition: 1s;
}
.produto {
  left: 20%;
  position: absolute;
  border-radius: 50%;
  background-image: url(pc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 22.5%;
  height: 43%;
  transition: 0.5s;
}
.produto:hover {
  width: 50%;
  height: 45%;
  border-radius: 10%;
}
.bt-comprar {
  width: 175px;
  height: 45px;
  border-radius: 25px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  border: none;
  border-right: 3px solid #3e3c3c;
  border-top: 3px solid #3e3c3c;
  background-color: #3e3c3c;
  position: absolute;
  bottom: 15%;
  right: 30%;
  transition: 0.25s;
}
.bt-comprar:active {
  background-color: #666262;
}
.desc-produto {
  border-radius: 10%;
  background-color: #3e3c3c;
  position: absolute;
  right: 20%;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  white-space: pre-wrap;
  width: 20%;
}
/* Parte de baixo */
.baixo {
  padding: 100px 10px 10px 10px;
  display: grid;
  grid-template-areas:
    "areaLogo escritaLogo"
    "escritaDiferencial areaDiferencial"
    "fim fim";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 2fr 0.5fr;
  z-index: 3;
  grid-area: baixo;
  background-color: #000000;
}
/* Logo-Parte de baixo */
.logo1 {
  grid-area: areaLogo;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fotoL {
  width: 300px;
  height: 300px;
  background-size: cover;
  border-radius: 100%;
}
/* EscritaL-Parte de baixo */
.escritaLogo1 {
  grid-area: escritaLogo;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.escritaL {
  padding: 0px 300px 0px 350px;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
}
/* Diferencial-Parte de baixo */
.diferencial {
  grid-area: areaDiferencial;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* EscrotaD-Parte de baixo */
.escritaDiferencial {
  grid-area: escritaDiferencial;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.escritaD {
  padding: 0px 300px 0px 350px;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
}
/* Fim-Parte de baixo */
.fimBaixo {
  grid-area: fim;
  background-color: #14213d;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Miguel organizar dps */
.logo {
  display: flex;
  align-items: center;
  width: 0.1fr;
  height: 0.1fr;
}

.menu {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: "arial", sans-serif;
  cursor: pointer;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu li {
  margin: 0 15px;
  display: inline-block;
}

.menu a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  position: relative;
}

.menu a::before {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.5s transform ease;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 50%;
}

.menu a:hover::before {
  transform: scale3d(1, 1, 1);
}
.conteudo {
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
  border-radius: 25px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.pesquisa {
  align-items: center;
  display: flex;
}

.imagem {
  width: 50px;
  height: auto;
  cursor: pointer;
  z-index: 3;
  position: absolute;
  transition: 1s;
}
.barra-pesquisa {
  display: none;
  right: 12%;
  position: absolute;
  background-color: rgba(70, 68, 68, 0.9);
  border-radius: 30px;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  padding: 3px;
  transition: 1s;
}
.caixa {
  color: rgb(131, 128, 124);
  width: 300px;
  height: 50px;
  background-color: #3e3c3c;
  border-radius: 30px;
}

.barra-pesquisa.mostrar-barra {
  display: block;
  opacity: 1;
  transition: 1s;
}

.mostrar-barra {
  opacity: 1;
  visibility: visible;
}
@keyframes rodando {
  from {
    transform: rotate(0deg);
    right: 10.5%;
  }
  to {
    transform: rotate(420deg);
    right: 27.8%;
  }
}
.animacao-rodar {
  animation: linear 1s rodando;
  right: 27.8%;
  transform: rotate(60deg);
  animation-iteration-count: 1;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-container {
  max-width: 800px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns for image and details */
}

.product-image img {
  max-width: 100%;
  height: auto;
  margin: 20px;
}

.product-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buy-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #0056b3;
}

.product-description {
  margin-top: 20px;
}

.cabecalho{
  width: 100%;
  z-index: 3;
  position: fixed;
  padding: 0px 40px;
  grid-area: cabecalho;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}
.logo{
  width: 45px;
  height: 45px;
  border-radius: 100%;
}
.b{
  cursor: pointer;
  margin: 0px 50px;
  font-size: 15px;
  border: none;
  width: 130px;
  height: 45px;
  border-radius: 5px;
  background-color: #14213D;
  color: #e5e5e5;
}
.perfil{
  margin-left: 800px;
  background-size: cover;
  width: 110px;
}
.opcao{
  margin-left: 40px;
  width: 100px;
}

/* Perfil */
.perfil{
  margin-left: 800px;
  background-size: cover;
  width: 110px;
}

.nome{
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 15px;
  font-family: "Arial", sans-serif
}

.email{
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 15px;
  font-family: "Arial", sans-serif
}

.endereco{
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 15px;
  font-family: "Arial", sans-serif
}

.bt-altera_dados{
  cursor: pointer;
  margin: 0px 50px;
  font-size: 15px;
  border: none;
  width: 130px;
  height: 45px;
  border-radius: 5px;
  background-color: #14213D;
  color: #e5e5e5;
}

.foto{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-left: 30px;
}
